/* comenterio en CSS */
body{
    background-color:darkturquoise;
    color:rgb(0, 0, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left: 6em;
}


192.168.1.1 --> google.com

www.google.com 