/* comenterio en CSS */
body{
    background-color:darkturquoise;
    color:rgb(0, 0, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left: 6em;
}
https://github.com/ShelderF/tarea.git